<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"isUserOverlayColor":true,"minHeight":50,"minHeightUnit":"vh","customGradient":"linear-gradient(180deg,rgb(16,65,111) 0%,rgb(73,115,148) 100%)","className":"heroWrap","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover heroWrap" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:50vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-70 has-background-dim has-background-gradient" style="background:linear-gradient(180deg,rgb(16,65,111) 0%,rgb(73,115,148) 100%)"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-itg-really-lt-blue"}}}},"textColor":"custom-itg-really-lt-blue"} /-->

<!-- wp:separator {"backgroundColor":"custom-itg-really-lt-blue"} -->
<hr class="wp-block-separator has-text-color has-custom-itg-really-lt-blue-color has-alpha-channel-opacity has-custom-itg-really-lt-blue-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:site-tagline {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-i-tg-lt-blue"}}},"typography":{"fontStyle":"italic","fontWeight":"400"}},"textColor":"custom-i-tg-lt-blue","fontSize":"medium","fontFamily":"roboto"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"35vh","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:35vh;margin-bottom:0;padding-right:0;padding-left:0"><!-- wp:post-content {"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->