/* fancy quote */
.is-style-fancy-quote {
    font-family: Alice, serif;
    font-style: italic;
    border-left: 4px solid #E8D443;
    padding-left: .5em;
    color: #008f8d;
}

/* fancy h2 */
.is-style-fancy-h2-style {
    font-family: Sacramento, Roboto, sans-serif;
    font-size: 2.8rem;
    color: #008f8d;
}